#myAccount-html {
  display: flex;
  justify-content: center; 
  height: 100%;
  width: 100%;
  padding-top: 25px;
  padding-right: 15px;
  overflow: hidden;
  gap: 10px;

  section {
    height: auto;
    display: inline-flex;
    flex-direction: column;
    padding: 5px;
    width: 400px; 
    margin-bottom: 10px;
  }
}

#myAccount-main {
  display: none; 
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;
  top: 250px;
  left: -30px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 800;
}

#followedPoliticians-Section,
#favCompanies-Section {
  display: flex; 
  align-items: center;
}

#sidebar {
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  position: fixed;
  top: 75px;
  left: 0;
  height: 75.3%; 
  background-color: #233142;
  color: white;
  cursor: pointer;
  padding-left: 40px;
  margin-top: 75px;
}

#sidebar.expanded {
  width: 22vw; 
  padding: 2px;
}

.sidebar-content {
  padding: 20px;
}

.favCompany-dropdownDiv,
.folPolitician-dropdownDiv {
  overflow: auto;
  height: 700px;
  padding: 10px;
  width: 350px; 
}

  .favCompany-dropdownDiv.expanded {
    // border: 1px solid white;
    background-color:  /* rgba(70, 87, 153, 1) */ #233142;
  }
  .folPolitician-dropdownDiv.expanded {
    // border: 1px solid white;
    background-color:  /* rgba(70, 87, 153, 1) */ #233142;
  }

.myAccount-btns {
  background-color: #333;
  color: white;
  margin-top: 10px;
  position: relative;
  top: 50px;
  border-radius: 10px;
  width: 65px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.myAccount-btns:hover {
  background-color: aliceblue;
  cursor: pointer;
  color: #233142;
}

#update-btn {
  margin-right: 10px;
}

#save-btn {
  margin-right: 10px;
}

.myAccount-inputs {
  width: 15em;
  height: 2em;
  padding-left: 5px;
}

#firstName-Update {
  display: flex;
  align-self: center;
}

#email-update {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#sidebar-text{
  display: inline;
  flex-direction: column;
}

.favCompanies {
  display: grid;
  gap: 5px;
  p {
    color: white;
  }
  .label {
    color: wheat;
    font-weight: 700;
  }

  .value {
    color: floralwhite;
  }
  .favButton {
    margin-bottom: 30px;

  }
}

.myAcct-info-text {
  display: inline;
  font-size: 23px;
  font-weight: 700;
  color: whitesmoke;
}

#FavComp-headerText {
  cursor: pointer;
  padding-bottom: 5px;
  top: 0px;
  flex-wrap: nowrap;
  color: floralwhite;
  
}

#FollowPolitician-headerText{
  cursor: pointer;
  padding-bottom: 5px;
  top: 0px;
  flex-wrap: nowrap;
  color: white;
}

#details-name {
  margin-top: 20px;
  margin-bottom: 20px;
}

#details-email {
  display: inline;
  margin-top: 20px;
  margin-bottom: 20px;
}


#followedPoliticians-Section,
#favCompanies-Section {
  display: none; 
}

.sidebar-content {
  padding: 10px; 
}

#FollowPolitician-headerText,
#FavComp-headerText {
  text-align: center; 
}

// Media queries for small screens -------------

@media (max-width: 1000px) {
  #myAccount-html {
    display: grid; 
    flex-direction: column; 
    align-items: center; 
    min-height: fit-content;
    font-size: percentage(.8%);
    justify-content: center;

    button {
      font-size: percentage(.9%);
    }

    #sidebar {
      overflow: hidden;
      transition: 0.5s;
      position: fixed;
      top: 75px;
      left: 0;
      height: 100%; 
      color: white;
      cursor: pointer;
      // border-radius: 0% 80% 80% 0%;
      margin-top: 0;
    }

    .vertical-text {
      display: flex;
      justify-self: center;
      align-self: center;
      text-align: center;
      text-justify: center;
      position: relative;
      top: 30%;
      left: -30px;
    }

    #followedPoliticians-Section,
    #favCompanies-Section {
      max-width: 80vw;
    }

}

.favCompany-dropdownDiv,
.folPolitician-dropdownDiv {
  transition: 0.5s;
}
    .favCompanies {
      display: grid;
      gap: 5px;
      p {
        color: white;
      }
      .label {
        
        font-weight: 700;
      }
      
   
      .favButton {
        margin-bottom: 30px;
      }
    }

  #sidebar.expanded {
    width: 100%; 
  }
#sidebar {
  overflow: hidden;
}

.sidebar-content{
  padding-right: -50px;
}
  #myAccount-main {
    min-width: 100%;
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }

  #lastName-Update {
    margin-bottom: 10px;
  }

  .myAccount-btns {
    margin-top: 2px;
  }

   #sidebar {
    padding-left: 30px;
  }
}

@media screen and (max-width: 900px) {
  #myAccount-html{
    padding-right: 0;
  }

  #myAccount-main {
  padding-right: 0;
  }

#favCompanies-Section {
  height: 0;
}

.favCompany-dropdownDiv {
  height: 0;
  border: none;
}
.favCompany-dropdownDiv.expanded {
height: 700px;
}

#followedPoliticians-Section {
  height: 0;
}

.folPolitician-dropdownDiv {
  height: 0;
  border: none;
}
.folPolitician-dropdownDiv.expanded {
height: 700px;
}

.favCompany-dropdownDiv,
.folPolitician-dropdownDiv {
  width: 300px; 

}
}
