.favButton {
    cursor: pointer;
    background-color: #233142;
    color: white;
    padding: 3px;
    border-radius: 10px;
    width: max-content;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
 
  }
  
  .favButton:hover {
    background-color: red;
    cursor: pointer;
    /* color: #233142; */
  }

.Loading {
  position: relative;
  top: 50%;
  left: 50%;
}