.favButton {
    cursor: pointer;
    background-color: lighten(#233142, 10%);
    color: white;
    padding: 3px;
    border-radius: 10px;
    width: 70px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
  }
  
  .favButton:hover {
    background-color: red;
    cursor: pointer;
  }

.loading {
  color: #233142;
  font-size: 45px;
  text-indent: -9999em;
  margin-top: 20rem;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

input {
  background-color: lightgray;
  border-radius: 10px;
}


@media (max-width: 620px) {
 

  #login-div {
    display: flex;
    flex-direction:column;
    height: auto;
    width: fit-content;

  }
  .username-label,
  .password-label {
    display: flex;
    margin-right: 0;
  }
  .loginInput{
    margin: 2px;
    padding: 0;
  }

  #lastname {
    position: relative;
    left: 0;
  }

  #usernameInput{
    position: relative;
    right: 3px;
  }

 #emailInput{
position: relative;
right: 5px;
 }

  .otherFields {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    row-gap: 5px;
    
  }

  #lastName-Update {
    margin-bottom: 10px;
  }

  .myAccount-btns {
    margin-top: 2px;
  }

  #acct-logout {
    position: relative;
    right: 5px;
  }
  .favCompany-dropdownDiv{
   padding-top: 5px;
   padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: percentage(.85%);
  }
 
}


@media (max-width: 860px) {
  .details-name {
    margin-top: 10px;
  }

  #myaccount-html {
    font-size: percentage(.8%);

    button {
      width: percentage(.5%);
      font-size: percentage(.9%);
    }
  }

  #FavComp-headerText {
    font-size: percentage(1.5ch);
  }

}

@media (max-width: 970px) {
  #myaccount-html {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}

@media(max-width: 300px) {

  #login-div {
    display: flex;
    flex-direction:column;
    height: auto;
    width: fit-content;
  }
  .loginInput {
    width: auto;
  }

  #emailInput {
    margin-left: 45px;
  }
}