.company-list {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .company-card {
        width: 160px;
        height: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 5px;
        margin-bottom: 40px;
        text-align: center;
        align-items: center;
        border: 2px solid black;
        background-color: floralwhite;
        .companyCard-Link {
            color: #233142;
            text-decoration: underline;
        }
        button {
            margin-top: 25px;
            justify-self: flex-end;
        }
    }
}

.company-detail{
    background-color: floralwhite;
    border: black solid 2px;
    padding: 0.75em;
}

#company-name{
    font-weight: bold;
}

#rep-name{
    font-weight: bold;
    color: black;
}

#rep-name:hover{
    color: #f95959;
}

#transaction-type{
    text-decoration: underline;
}

.trade-card{
    background-color: floralwhite;
    border: black solid 2px;
    padding: 0.75em;
}


h2{
   padding-bottom: 0.5em;
   padding-top: 0.5em;
}

.search-bar{
    color: black;
    padding: 10px;
}