.company-list {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .company-card {
    width: 160px;
    min-width: 160px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    background-color: floralwhite;
    h2 {
      width: 153px;
      max-height: 45px;
      font-size: 16px;
    }
    p {
      font-size: 15px;
    }
    a {
      font-size: 14px;
    }
    .companyCard-Link {
      text-decoration: underline;
    }
  }
}

#s-p-name {
  text-align: center;
  color: lighten(#333, 60%);
  padding-top: 20px;
}

.company-detail {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: floralwhite;
}

#company-name {
  font-weight: bold;
}

#rep-name {
  font-weight: bold;
}

#rep-name:hover {
  color: #f95959;
}

#transaction-type {
  text-decoration: underline;
}

.trade-card {
  margin-bottom: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 5px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: floralwhite;
}

h2 {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.search-bar-companies {
  display: flex;
  justify-content: center;
  background-color: floralwhite;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75vw;
  margin: auto;
  margin-top: 10px;

  label {
    margin-right: 10px;
    font-size: 14px;
    color: #333;
  }

  input {
    padding: 8px;
    background-color: #f7f7f7;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 14px;
  }
}

.company-redirect {
  background-color: floralwhite;
  color: #233142;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.h2-title {
  color: lighten(#333, 60%);
}

.recentComp-activity {
  height: 520px;
  overflow: auto;
}
