.details-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  max-height: fit-content;
  align-items: center;
}

.politician-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: floralwhite;
  width: 350px;
  h2 {
    color: black;
  }
}

.recent-trades-container {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  h2 {
    color: lighten(#333, 60%);
  }
}

.activity-status {
  background: floralwhite;
  width: 275px;
  text-align: center;
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
}

.none-recent {
  background: floralwhite;
  width: 275px;
  text-align: center;
  border: solid 2px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.rep-transaction-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 520px;
  overflow: auto;
}
.senate-transaction-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 520px;
  overflow: auto;
}

.recent-trades-item {
  margin-bottom: 1em;
  width: 300px;
  height: 280px;
  padding: 10px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 5px;
  margin-bottom: 20px;
  margin-right: 15px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: floralwhite;
}

.more-info {
  color: #233142;
  text-decoration: underline;
}

.search-bar {
  color: black;
  padding: 10px;
}

.politicians-redirect {
  background-color: floralwhite;
  color: #233142;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.member-house-details {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}
