.total-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h2{
    color: lighten(#333, 60%);
  }
}

.article-trade-container{
  display: inline-flex;
  justify-content: center;
}

.copy-container {
  padding: 2em;
  width: 100%;
  row-gap: 1em;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  h3{
    line-height: 30px;
  }
  .copy-item{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: floralwhite;
    width: 75%;
  }
}

.article-container {
  padding: 2em;
  max-width: 40%;
  row-gap: 1em;
  h2 {
    text-align: center;
    padding: 10px;
  }
  .article-item {
    margin-bottom: 0.5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5px;
    border-radius: 15px;
    border: 2px solid black;
    background-color: floralwhite;
  }
}

.trades-container {
  flex-direction: column;
  padding: 2em;
  max-width: 60%;
  h2 {
    order: 1;
    text-align: center;
    padding: 10px;
  }
  .trading-full-list {
    order: 2;
    .trading-item {
      margin-bottom: 0.5em;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      row-gap: 5px;
      border-radius: 15px;
      border: 2px solid black;
      background-color: floralwhite;
      p {
        text-align: center;
      }
    }
  }
}

#trade-rep {
  font-weight: bold;
}

#trade-rep:hover {
  color: #f95959;;
}

#trade-ticker{
  text-decoration: underline;
}

#trade-ticker:hover {
  color: #f95959;
}

#ticker{
  color: black;
}
