.details-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  max-width: 50%;
  max-height: fit-content;
}

.politician-details{
  order: 1;
  background-color: floralwhite;
  border: black solid 2px;
  padding: 0.75em;
}

.recent-trades-container{
  order: 2;
}

.recent-trades-item{
 margin-bottom: 1em;
 border: 1px black solid;
 background-color: floralwhite;
 border: black solid 2px;
 padding: 0.75em;
}

.more-info{
  color: #233142;
  text-decoration: underline;
}

.search-bar{
  color: black;
  padding: 10px;
}

