.details-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  max-width: 50%;
  max-height: fit-content;
}

.politician-details{
  order: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 5px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: floralwhite;
}

.recent-trades-container{
  order: 2;
}

.recent-trades-item{
 margin-bottom: 1em;
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 row-gap: 5px;
 margin-bottom: 20px;
 border-radius: 15px;
 border: 2px solid black;
 background-color: floralwhite;
}

.more-info{
  color: #233142;
  text-decoration: underline;
}

.search-bar{
  color: black;
  padding: 10px;
}

