.search-and-sort-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.politicians-header{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.politicians-list-container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.cards-container {
    max-width:160px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .politicianDetails-Card {

    width:  160px;
    min-width: 160px;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 5px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    background-color: floralwhite;
        h2{
            width: 153px;
            font-size: 16px;
        }
        p{
            font-size: 15px;
        }
        a{
            font-size: 14px;
        }
  }
  .favButton {
    width: 5rem;
    min-height: 2rem;
    max-height: 2rem;
  }
  
    /* Other styling properties */
  
    /* Optional: Adjust for smaller screens */
    @media (max-width: 768px) {
      flex-basis: calc(50% - 20px);
    }
  
    @media (max-width: 480px) {
      flex-basis: calc(100% - 20px);
    }
  
  